In [16]:
import pandas as pd
df = pd.read_csv('titanic.csv')
df.head(20)

,Name,PClass,Age,Sex,Survived
0,"Allen, Miss Elisabeth Walton",1st,29.00,female,1
1,"Allison, Miss Helen Loraine",1st,2.00,female,0
2,"Allison, Mr Hudson Joshua Creighton",1st,30.00,male,0
3,"Allison, Mrs Hudson JC (Bessie Waldo Daniels)",1st,25.00,female,0
4,"Allison, Master Hudson Trevor",1st,0.92,male,1
5,"Anderson, Mr Harry",1st,47.00,male,1
6,"Andrews, Miss Kornelia Theodosia",1st,63.00,female,1
7,"Andrews, Mr Thomas, jr",1st,39.00,male,0
8,"Appleton, Mrs Edward Dale (Charlotte Lamson)",1st,58.00,female,1
9,"Artagaveytia, Mr Ramon",1st,71.00,male,0
10,"Astor, Colonel John Jacob",1st,47.00,male,0
11,"Astor, Mrs John Jacob (Madeleine Talmadge Force)",1st,19.00,female,1
12,"Aubert, Mrs Leontine Pauline",1st,NaN,female,1
13,"Barkworth, Mr Algernon H",1st,NaN,male,1
14,"Baumann, Mr John D",1st,NaN,male,0
15,"Baxter, Mrs James (Helene DeLaudeniere Chaput)",1st,50.00,female,1
16,"Baxter, Mr Quigg Edmond",1st,24.00,male,0
17,"Beattie, Mr Thomson",1st,36.00,male,0
18,"Beckwith, Mr Richard Leord",1st,37.00,male,1
19,"Beckwith, Mrs Richard Leord (Sallie Monypeny)",1st,47.00,female,1

In [18]:
df["Name"].str.len().mean()

23.527037319116527

In [15]:
#data = {'Tekst': ['Hello', 'World', 'Python', 'Pandas']}
#df = pd.DataFrame(data)
#
# Obliczanie długości napisów w kolumnie 'Tekst'
#df['Długość'] = df['Tekst'].str.len()
#
#print(df)

    Tekst  Długość
0   Hello        5
1   World        5
2  Python        6
3  Pandas        6

In [36]:
df.dropna(subset=["Age"]).sort_values(["Age", "Name"], ascending=[False,True]).iloc[19]["Name"]

'Ryerson, Mr Arthur Larned'

In [35]:
df[((df["Sex"] == "male") & (df["Survived"] == 1))].sort_values("Age", ascending=True).iloc[0]["Name"]

'Richards, Master George Sidney'

In [34]:
df[df["PClass"] == "2nd"]["Age"].median()

28.0